*~
#*#
thesis/mathesis-inprogress-kankainen.aux
thesis/mathesis-inprogress-kankainen.bbl
thesis/mathesis-inprogress-kankainen.bcf
thesis/mathesis-inprogress-kankainen.blg
thesis/mathesis-inprogress-kankainen.glo
thesis/mathesis-inprogress-kankainen.ist
thesis/mathesis-inprogress-kankainen.log
thesis/mathesis-inprogress-kankainen.out
thesis/mathesis-inprogress-kankainen.run.xml
thesis/mathesis-inprogress-kankainen.toc
_minted-mathesis-inprogress-kankainen
mathesis-inprogress-kankainen.xdy
mathesis-inprogress-kankainen.glg
mathesis-inprogress-kankainen.gls